<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rankexam.rtoinfo">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:name="com.rankexam.rtoinfo.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"

        android:theme="@style/Theme.RTOVehicleInformation"
        tools:targetApi="31">
        <activity
            android:name="com.rankexam.rtoinfo.Activity.DetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rankexam.rtoinfo.Activity.FuelCityActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rankexam.rtoinfo.Activity.SplashScreenActivity"
            android:excludeFromRecents="false"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.rankexam.rtoinfo.Activity.StartActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.rankexam.rtoinfo.Activity.CelebrityListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rankexam.rtoinfo.Activity.QuizActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rankexam.rtoinfo.Activity.TrendPersonVehiclesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rankexam.rtoinfo.Activity.ResultCardsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rankexam.rtoinfo.Activity.ResultActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rankexam.rtoinfo.Activity.SelectExamsPrepareActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rankexam.rtoinfo.Activity.EnterInformationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rankexam.rtoinfo.Activity.LanguageSelectActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rankexam.rtoinfo.Activity.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rankexam.rtoinfo.Activity.ExamsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rankexam.rtoinfo.Activity.CityActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rankexam.rtoinfo.Activity.OficeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rankexam.rtoinfo.Activity.OfficeDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rankexam.rtoinfo.Activity.SymbolActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rankexam.rtoinfo.Activity.SymbolDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rankexam.rtoinfo.Activity.SearchVehicleDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rankexam.rtoinfo.Activity.VehiclesDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rankexam.rtoinfo.Activity.RulesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/AdMob_AppId"/>
        <meta-data android:name="com.google.android.gms.ads.flag.NATIVE_AD_DEBUGGER_ENABLED"
            android:value="false" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />


    </application>

</manifest>